h1{
    margin: 0%;
    
    background-color: silver;
}
ul{
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    overflow: auto;
    background-color: black;
}
li{
    float: left;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}
li a:hover {
    background-color: rgba(192, 192, 192, 0.19);
}

footer{
    padding: 10px;
    bottom: 0%;
    position: relative;
    text-align: left;
    background-color: yellowgreen;
    width: 100%;
}
.f1 a{
    font-style: italic;
    
}

h3{
    font-style: italic;
    font-size: 20px;
}
body {
    background-image: url(https://th.bing.com/th/id/R.d66c5a9b20e1281c8ccc1f7cf01bb44c?rik=WR4KVlNO5cnlJQ&riu=http%3a%2f%2fcdn.wallpapersafari.com%2f22%2f82%2f0yjurN.jpg&ehk=%2bWHKeR64zMP%2bU4B0Vvv8DZaMZSqJrtpLlB73gCb1TIA%3d&risl=&pid=ImgRaw&r=0);
    background-size: 30000px 30000px;
}
